table input{
    border: none;
}
table button{
    width: 80px;
    float: left;
}
#btn-con{
    display: block;
    width: 220px;
}
label{
    margin-top: 10px;
    margin-bottom: 2px;
    color: rgba(30, 143, 255, 0.699);
}
th{
    color: rgba(30, 143, 255, 0.699);
}
table input{
    width: 100px;
}